head,body{
    background-color: lightblue;
}

h1{
    text-align: center;
    color: rgb(50, 78, 87)
}

.form{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 5%;
    text-align: center;
    width: fit-content;      /* or whatever size you want */
    margin: 0 auto;       /* center it horizontally */
    padding: 2%;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    /* background-color: #fff; */
}

#email{
  font-family: 'Arial', sans-serif;   /* or any font you like */
  font-weight: bolder;
  color: #021139;                        /* darker text color */
  /* background-color: #fff;    */
  /* border-radius: 2%; */
  
}
.align-right{
    text-align: right;
    margin-left: -20%;
}
#your-email{
    padding-right: 85%;
    margin-bottom: -5.5%;
}
textarea {
  width: 100%;
  max-width: 600px;
  resize: vertical; /* lets user resize up/down */
  font-size: 16px;
}

form div button{

  background-color: #95a6df; /* <– this is the circle color */
  color: rgb(28, 25, 82);              /* text color */
  padding: 10px 20px;        /* spacing around text */
  border: none;
  border-radius: 999px;      /* makes it an oval/circle shape */
  font-size: 18px;
  cursor: pointer;  
}
form div button:hover{
    background-color: #465fa6;
}

form div button:active{
     background-color: #2e51b0;
}